.top-header {
    background-color: #222934;
    color: white;
}

.cartbar {
    margin-left: 60px;
    margin-right: 60px;
    padding: 1em 0.5em 0.9em 0.5em;
}

.cartbar input {
    width: 100%;
}

.name-logo {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
}

.header-icon {
    font-size: 30px;
}

.header-link {
    color: black;
    text-decoration: none;
}

.name-logo {
    color: black;
    text-decoration: none;
}

.input-group-text,
.form-control {
    border-radius: 50px;
}

.nav {
    background-color: black;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 1em 2em;
}

.name-brand {
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
}

.carousel-item div {
    background-position: center;
    background-size: cover;
    /* object-fit: cover; */
    height: 600px;
    width: 100%;
}


/* footer */

.footer-section {
    background-color: #212934;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-items>i {
    font-size: 22px;
    margin-bottom: 0.5rem;
}

.menu-items>a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.menu>h2 {
    margin-bottom: 2rem;
}